// main.scss -> main.css {compile}

body {
  padding: 10px;
  background-color: black;
  color: black;
  margin: auto;
}

div {
  background-color: red;


  button {
    background-color: blue;

    span {
      color: black;
      font-size: 14px;
      font-weight: 600;
      padding: 0;
    }
  }
}